
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: red;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa-maior {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    width: 100%;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #616161;
}

.input-cidade {
    padding: 10px;
    width: 80%;
    border: 1px solid #555555;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.btn-pesquisa {
    padding: 10px 20px;
    background-color: #464646;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-pesquisa:hover {
    background-color: #363636;
}

.caixa-media {
    margin: 20px 0;
}

.cidade {
    font-size: 22px;
    font-weight: 600;
    color: #444444;
}

.graus {
    font-size: 36px;
    font-weight: 700;
    color: #e53935;
}

.caixa-pequena {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.previsao {
    font-size: 18px;
    color: #616161;
}

.img-previsao {
    width: 50px;
    height: 50px;
}

.Umidade, .Pressão {
    margin-top: 10px;
    font-size: 16px;
    color: #616161;
}

@media (max-width: 600px) {
    .titulo {
        font-size: 20px;
    }

    .input-cidade {
        width: 100%;
    }

    .graus {
        font-size: 28px;
    }
}